__pycache__
launcher.exe
user_data.txt
/generated/
/cache/
/instances/DSN-vocal/logs
/instances/DSN-vocal/output
/instances/DSN-vocal/Voice
/instances/gemma-2/
/instances/llama.cpp/
/instances/moondream/
/instances/localmodels/
/characters/
/tests/
/runtimes/
/TEMP/
/docs/
/build/
/dist/
/TTS_models/
/binaries/Everything.db
/binaries/Everything.exe
/binaries/ffmpeg.exe
/binaries/ffprobe.exe
/binaries/Run History.csv
cookie_storage
config.py
cprompt.py
test.py
TEMP_process.py
chat_history.json
prompt1.py
fossa.exe
*.bak
history.txt
screenshot.png
launch.exe
启动.exe