__pycache__
launcher.exe
user_data.txt
/generated/
/instances/DSN-vocal/logs
/instances/DSN-vocal/output
/instances/DSN-vocal/Voice
/instances/gemma-2/
/instances/llama.cpp/
/instances/moondream/
/characters/
/tests/
/TEMP/
/docs/
/build/
/dist/
/binaries/Everything.db
/binaries/Everything.exe
/binaries/ffmpeg.exe
/binaries/ffprobe.exe
/binaries/Run History.csv
config.py
cprompt.py
test.py
TEMP_process.py
prompt1.py
fossa.exe
*.bak
